<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>数据管理!</h1>
		<form action="/goods/food/" method="get">
			<input type="submit" value="食物">
		</form>
		<br>
		<form action="/goods/drink/" method="get">
			<input type="submit" value="酒水">
		</form>
		<br>
		<form action="/goods/electrical/" method="get">
			<input type="submit" value="电器">
		</form>
        <br>
        <form action="/goods/production/" method="get">
			<input type="submit" value="厂家">
		</form>
        <br>
        <form action="/goods/ingre/" method="get">
			<input type="submit" value="配料">
		</form>
        <br>
        <form action="/goods/class/" method="get">
			<input type="submit" value="分类">
		</form>
</body>
</html>