<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		fieldset{width:400px;margin:50px auto;}
	</style>

</head>
<body>
	<!-- fieldset表单自动布局 -->
	<!-- legend=>边框上文字 -->
	<fieldset>
		<legend>欢迎登陆</legend>
		<form action="/goods/login/" method="post">
			<input type="text" placeholder="请输入用户名" name="user" id="user"><span id="msg"></span><br>
			<input type="password" placeholder="请输入密码" name="psw" id="psw"><span></span><br>
            <input type="submit" value="登录">

		</form>
	</fieldset>
</body>
</html>